appdirs==1.4.4
args==0.1.0
arrow==0.15.6
asgiref==3.2.7
asn1crypto==1.3.0
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.4.3
Automat==20.2.0
Babel==2.8.0
beautifulsoup4==4.9.1
cairocffi==1.1.0
CairoSVG==2.4.2
calendra==6.1.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
clint==0.5.1
constantly==15.1.0
convertdate==2.2.1
cryptography==2.9.2
cssselect2==0.3.0
DateTime==4.3
defusedxml==0.6.0
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.6
django-admin-honeypot==1.1.0
django-allauth==0.42.0
django-appconf==1.0.4
django-channels==0.7.0
django-ckeditor==5.9.0
django-compressor==2.4
django-crispy-forms==1.9.1
django-debug-toolbar==2.2
django-encrypted-model-fields==0.5.8
django-filter==2.2.0
django-filters==0.2.1
django-guardian==2.2.0
django-haystack==2.8.1
django-hosts==4.0
django-js-asset==1.2.2
django-markdown==0.8.4
django-phonenumber-field==4.0.0
django-redis==4.12.1
django-request==1.5.5
django-softdelete==0.9.0
django-tables2==2.3.1
django-taggit==1.3.0
django-urlcrypt==0.1.6
django-weasyprint==1.0.1
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
easy-thumbnails==2.7
elasticsearch==7.7.1
filelock==3.0.12
googledrivedownloader==0.4
gunicorn==20.0.4
holidays==0.10.2
html5lib==1.0.1
hurry.filesize==0.9
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
Jinja2==2.11.2
jplephem==2.14
korean-lunar-calendar==0.2.1
lunardate==0.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
more-itertools==8.3.0
mysqlclient==1.4.6
numpy==1.18.4
oauthlib==3.1.0
pandas==1.0.4
phonenumbers==8.12.4
phonenumberslite==8.12.4
Pillow==9.3.0
pipenv==2020.6.2
postgres==3.0.0
psycopg2-binary==2.8.5
psycopg2-pool==1.1
pyCalverter==1.6.1
pycparser==2.20
PyHamcrest==2.0.2
pyluach==1.1.0
PyMeeus==0.3.7
Pyphen==0.9.5
PySocks==1.7.1
pysolr==3.9.0
python-dateutil==2.8.1
python-decouple==3.3
python3-openid==3.1.0
pytube==9.6.0
pytz==2020.1
rcssmin==1.0.6
redis==3.5.3
reportlab==3.5.42
requests==2.23.0
requests-oauthlib==1.3.0
rjsmin==1.1.0
serious-django-permissions==0.14
sgp4==2.12
six==1.15.0
skyfield==1.22
skyfield-data==1.1.0
soupsieve==2.0.1
South==1.0.2
sqlparse==0.3.1
tinycss2==1.0.2
tweepy==3.8.0
txaio==20.4.1
urllib3==1.25.9
virtualenv==20.0.21
virtualenv-clone==0.5.4
WeasyPrint==51
webencodings==0.5.1
wget==3.2
whitenoise==5.1.0
Whoosh==2.7.4
zope.interface==5.1.0
